/*-------------------------------------- HTML PAGE AND BODY-------------------------------*/
html, body{
    font-size: 10px;
    margin : 0;
    padding : 0;
}
body {
    background: url("./../img/recreation.jpg") no-repeat;
    background-size: cover;
    
}

/*------------------------ SCOREKEEPER.HTML---------------------------*/


