/*-------------------------------------- HTML PAGE AND BODY-------------------------------*/
html, body{
    font-size: 10px;
    margin : 0;
    padding : 0;
}
html{
    height: 100%;
}

/*------------------------ SCOREKEEPER.HTML---------------------------*/

.titles {
    text-align: center;
    margin-right: 30%;
    margin-left: 35%;
    margin-top: 25%;
    color: white;
}

.contentScorekeeper {
    background-image: url("topping.jpg");
    background-size: cover;
    opacity: 60%;
}

.green {
    color: green;
}
button {
    border-radius: 2px; 
    color: black;
}